@import './variables.scss';

// this is example body image from pexels
$background-image: '../images/background.jpg';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    opacity: 1;
}

body {
    padding-right: 0 !important;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // background
    background: url($background-image);
    background-color: rgba(255, 250, 255, 0.3);
    background-blend-mode: lighten;
    background-size: cover;

    // color
    // background-color: $floral-white;
}