@import '../../assets/scss/variables.scss';

$space-between-items: 25px;

.new_order {
    .new_order__card {
        padding: 30px;
        border-radius: 8px;

        .new_order__card__header {
            margin-bottom: $space-between-items;
            text-align: center;
            text-transform: uppercase;
            font-size: 2rem;
            color: $aztec-gold;
            text-shadow: 1px 1px $dutch-white;
        }

        .new_order__card__content {
            display: flex;
            flex-direction: column;

            .new_order__content__input {
                margin-bottom: $space-between-items;
            }

            .new_order__content__button {
                color: $floral-white;
                background-color: $burlywood;
                margin-bottom: $space-between-items;
                height: 50px;
            }

            .new_order__content__link {
                color: black;
                text-align: right;
            }
        }
    }
}