@import '../../assets/scss/variables.scss';

$box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;

.mini-gallery {
    margin: $navbar-footer-margin 0;

    .gallery {
        // max-height: calc(350px * 2 + 30px);

        .gallery__item {
            background-color: white;
            box-shadow: $box-shadow;

            img {
                object-fit: cover;
                height: 100%;
            }
        }
    }
}

.mini-gallery--padding {
    width: 85%;
    margin: $navbar-footer-margin auto;
}