@import '../../assets/scss/variables.scss';
$space-between-items: 50px;

.not_found {
    text-align: center;
    justify-content: space-evenly;
    align-items: center;

    .not_found__code {
        font-size: 15rem;

        .code__part {
            text-shadow: 1px 1px $dutch-white;
        }

        .code__part--theme {
            color: $burlywood;

        }
    }

    .not_found__header {
        margin-bottom: $space-between-items;
        font-size: 5rem;
    }

    .not_found__button {
        color: $floral-white;
        background-color: $burlywood;
        height: 50px;
        width: 200px;

        &:hover {
            box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
            background: $burlywood;
        }
    }
}