@import '../../assets/scss/variables.scss';

.navbar {
    background-color: $floral-white  !important;

    .navbar__content {
        color: black;

        .navbar__content__avatar {
            background-color: $burlywood;
            color: $floral-white;
            font-weight: bold;
        }
    }
}