@import '../../assets/scss/variables.scss';

.carousel {
    width: auto;
    margin: 0;

    .carousel__item {

        .carousel__item__image {
            object-position: left;
            // width: auto;
        }

        .carousel__item__body {
            text-align: justify;
            padding: 20px;

            .carousel__item__body__link {
                color: black;
                display: flex;
                align-items: center;
                margin: 20px 0;
            }
        }
    }
}

.carousel--padding {
    width: 85%;
    margin: 0 auto;
}