@import '../../../assets/scss/variables.scss';

.users_tab {
    .users_tab__table {}

    .users_tab__divider {
        font-size: 1.5rem;
        color: $aztec-gold;
        text-shadow: 1px 1px $dutch-white;
        margin: 50px 0 20px;
    }
}