@import '../../assets/scss/variables.scss';

$space-between-items: 25px;

.statute {
    font-size: 1.2rem;

    .statute__card {
        padding: 30px;
        border-radius: 8px;

        .statute__card__header {
            margin-bottom: $space-between-items;
            text-align: center;
            text-transform: uppercase;
            font-size: 2rem;
            color: $aztec-gold;
            text-shadow: 1px 1px $dutch-white;
        }

        .statute__card__body {
            text-align: justify;
            margin-bottom: $space-between-items;
        }
    }
}